@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    src:
      url(/fonts/Inter18pt-Light.woff2) format("woff2"),
      url(/fonts/Inter18pt-Light.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src:
      url(/fonts/Inter18pt-Regular.woff2) format("woff2"),
      url(/fonts/Inter18pt-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src:
      url(/fonts/Inter18pt-Medium.woff2) format("woff2"),
      url(/fonts/Inter18pt-Medium.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src:
      url(/fonts/Inter24pt-SemiBold.woff2) format("woff2"),
      url(/fonts/Inter24pt-SemiBold.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
      url(/fonts/Inter28pt-Bold.woff2) format("woff2"),
      url(/fonts/Inter28pt-Bold.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src:
      url(/fonts/Inter28pt-Black.woff2) format("woff2"),
      url(/fonts/Inter28pt-Black.woff) format("woff");
  }
}

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 159 49% 42%;
    --primary-dark: 160 24% 27%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 11.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
